{% extends 'base.html.twig' %}

{% block meta_description %} La réponse numérique est le blog officiel de l'Académie WS spécialisé en formations vidéo dans l'univers du digital  ! {% endblock %}
{% block title %}Qui sommes nous? {{parent()}} {% endblock %}

{% block body %}

    {{ render(controller('App\\Controller\\NavBarController::index')) }}

    <div class="global-layout">
        <div class="row py-5">
            <div class="col-10 mx-auto justify-content-center">
                <h1 class="text-center text-less-grey">Bienvenue chez l'<a href="https://www.academiews.fr">Académie WS !</a></h1>
                <p class="text-grey text-center my-5" style="font-size:1.375rem"> L'Académie WS est une plateforme de formations vidéo en ligne comptant 100 000 étudiants connectés chaque année à travers le monde. Notre objectif, vous transmettre les concepts clefs des technologies les plus demandées sur le marché, sans bla-bla !</p>
                <iframe id="iframe-presentation" class="my-5" src="https://player.vimeo.com/video/743921597?h=5f97bde804" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>

{% endblock %}
