{% extends 'base.html.twig' %}

{% block meta_description %} La réponse numérique est le blog officiel de l'Académie WS spécialisé en formations vidéo dans l'univers du digital  ! {% endblock %}
{% block title %}Qui sommes nous? {{parent()}} {% endblock %}

{% block body %}

    <div class="row">

        {% include 'nav.html.twig' %}

        {# <div class="d-flex align-items-center header body-grey">
            <div class="h-100 w-100 d-flex align-items-center justify-content-end"> 
                <nav class="d-flex align-items-center">
                    <ul class="d-flex align-items-center">
                        <li class="px-2"><a class="text-less-grey fw-bold" href="https://academiews.fr/categories">Nos formations vidéos</a></li>
                        <li class="px-2"><a class="text-less-grey fw-bold" href="{{ path('who_we_are') }}">Qui sommes-nous?</a></li>
                        <li class="px-2"><a class="text-less-grey fw-bold" href="{{ path('contact') }}">Contact</a></li>
                        <li class="px-2">
                            <i class="loupe fa-solid fa-magnifying-glass"></i>
                            <input type="search" placeholder="Rechercher un article" />
                        </li>
                </nav>
            </div>
        </div> #}

        <div class="row py-5 col-8 mx-auto">

            <h1 class="text-center text-less-grey">Hi! I'm Mosh Hamedani and here's my story...</h1>

            <iframe class="mt-5" src="https://player.vimeo.com/video/743921597?h=5f97bde804" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        
        </div>

    </div>

{% include 'footer.html.twig' %}

{% endblock %}
