<footer>

    <div class="pt-5 d-flex col-8 mx-auto justify-content-center flex-column align-items-center">
        <p class="text-grey p-0 m-0 small-font fst-italic"> Site codé entièrrement par <span class="fw-bold"> <a href="https://academiews.fr/who/we/are"> @Samih Habbani </a> </span> </p>
        <p class="text-grey p-0 m-0 small-font fst-italic"> Pas de Wordpress chez nous :D </p>
    </div>

</footer>