<footer>
    <ul class="col-12 col-md-3 mx-auto">
        <li class="social-networks d-flex justify-content-between px-5 py-5 text-primary fw-bold"> 
            <a href="https://www.instagram.com/academiews/"><i style="color:#C13584;" class="cursor-pointer fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/academiews"><i style="color:#3b5998;" class="cursor-pointer fa-brands fa-facebook"></i></a>
            <a href="https://www.tiktok.com/@academiews"><i style="color:#FFFFFF;" class="cursor-pointer fa-brands fa-tiktok"></i></a>
            <a href="https://www.youtube.com/@academiews"><i style="color:#FF0000;" class="cursor-pointer fa-brands fa-youtube"></i></a>
            <a href="https://twitter.com/academiews"><i style="color:#1DA1F2;" class="cursor-pointer fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/academie-ws/"><i style="color:#1DA1F2;" class="cursor-pointer fa-brands fa-linkedin"></i></a>
        </li>
    </ul>
    <div class="pt-5 d-flex col-8 mx-auto justify-content-center flex-column align-items-center">
        <p class="text-grey p-0 m-0 small-font fst-italic"> Site codé entièrrement par <span class="fw-bold"> <a href="https://academiews.fr/who/we/are"> @Samih Habbani </a> </span> </p>
        <p class="text-grey p-0 m-0 small-font fst-italic"> Pas de Wordpress chez nous :D </p>
    </div>

</footer>